Body {
    background-color: #212121;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
}

h1.page-header {
    margin: 0;
    padding: 0;
}

#Header {
    height: 969px;
    width: 100%;
    background-image: url("src/background.jpg");
    background-size: cover;
    margin: 0;
    padding: 1px;  
}

#Header h1 {
    padding-top: 7%;
    font-size: 100px;
    line-height: 0%;
}

#Header p {
    font-size: 35px;
}

#Contacts {
    padding-left: 10%;
}