html {
    scroll-behavior: smooth
}

Body {
    background-color: #FAF9F6;
    color: #212121;
    text-align: center;
    margin: 0;
    font-size: 16px;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9;
}

#nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    position: fixed;
    width: 100%;
    background-color: rgba(112,128,144, 1);
}

#nav-bar li {
    display: inline-block;
}

#nav-bar li a {
    color: black;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.25em;
    padding: 10px
}


h2 {
    padding-top: 70px;
}


#personal-photo {
    width: auto;
    margin-top: auto;
}

#personal-info{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    font-size: 1.5em;
}

#hyperlinks {
    margin: auto;
}

#hyperlinks img{
    padding: 1% 1% 0 1%;
}

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    display: none;
}

.popup .content {
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) scale(0);
    background: #fff;
    width: 450px;
    height: 220px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top:20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    text-align: left;
    margin: 10px;
    position: fixed;
    transition:all 300ms ease-in-out;
    transform: translate(-50%,-50%) scale(1);
}

.popup.active h1 {
    margin: 0px;
}

#projects button{
    position: relative;
    width: 10%;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 0;
}

#projects button .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: .5s ease;
    background: rgba(0,0,0,0.7);

    text-align: left;
}

#projects span {
    font-size: small;
    text-align: left;
}

#projects h3 {
    padding-left: 3%;
}

#projects button:hover .overlay {
    opacity: 1;
}

#skills {
    width: 50%;
    margin: auto;
}


#skills ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#skills li {
    width: 25%;
    float: left;
  }

#skills li img {
    width: 50%;
}
  
#skills ul > li p {
    float: bottom;
    margin: 0;
  }

#education img {
    float: left;
    padding: 1% 3% 0 10%

}

#education {
    padding-bottom: 5%;
    font-size: 1.25em;
}

#education div{
    max-width: 50%;
    display: inline-block;
    align-items: center;
    text-align: left;
    background-color: #FAF9F6;
    color:#212121;
    
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0px 0px 20px 5px lightgray;  
}

#education img {
    float: left
}

#education p {
    margin: 5px 0 5px 0;
    font: 1em;
}

#education ul {
    margin: 5px;
    padding-left: 38%;
}