Body {
    background-color: #212121;
    color: #FFFFFF;
    text-align: center;
}

#Header {
    height: 500px;
    width: 100%;
    position: fixed;
    background-image: url("src/background.jpg");
    background-size: cover;
    background-position: center center;   
}

#Header h1 {
    padding-top: 5%;
    font-size: 100px;
}

#Header p {
    padding-top: -50%;
    font-size: 35px;
}

#Contacts {
    padding-left: 10%;
}